.login{
  background: #F6F7FB;

    .top{
        position: relative;
        .bg{
            width: 100%;
            height: auto;
            border-bottom-left-radius: 1.333333rem;
            border-bottom-right-radius: 1.333333rem;

        }
        .logo{
            width:4.4rem;
            height:1.413333rem;
            z-index: 2;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
    }
    .content{
        margin-top: -1.066667rem;
        padding: 0 0.4rem;
        position: relative;
        
    }
    .form {
        background: #ffffff;
        padding: 1.066667rem 0.4rem;
        border-radius: 0.266667rem;
        .formItem {
          padding-top:  0.533333rem;
          border-bottom:  0.053333rem solid #eeeeee;
          p {
            font-size: 0.4rem;
            color: #111111;
            font-weight: bold;
          }
          .input {
            position: relative;
            input {
              width: 100%;
              padding-right:  1.493333rem;
              box-sizing: border-box;
              height:  1.493333rem;
              line-height:  1.493333rem;
              font-size:  0.533333rem;
            }
            .icon {
              position: absolute;
              height: 100%;
              right: 0;
              width: 2 0.053333rem;
              padding:0 0.4rem;
              z-index: 2;
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              align-items: center;
              img {
                width: 2 0.053333rem;
                height: 0.4rem;
              }
            }
            .code {
              position: absolute;
              height: 100%;
              right: 0;
              padding:0 0.4rem;
              z-index: 2;
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              align-items: center;
              button {
                height: 100%;
                background: transparent;
                font-size:0.48rem ;
                color: #999999;
              }
            }
          }
        }
        .operation{
            margin: 0.666667rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.426667rem;
            color: #333333;
        }
        .submit {
            width: 100%;
            box-sizing: border-box;
            button {
              height: 1.333333rem;
              width: 100%;
              line-height: 1.333333rem;
              border-radius:  0.213333rem;
              background: #027aff;
              font-size:  0.533333rem;
              color: #ffffff;
            }
            :disabled {
              opacity: 0.5;
            }
          }
      }
}