.usreInfo {
  .list {
    margin-top: - 0.533333rem;
    padding:  0.533333rem 0.4rem 0;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    position: relative;
    background-color: #ffffff;
    z-index: 2;

    .item {
      height: 1.6rem;
      line-height: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      //   padding: 0 0.666667rem;
      .img {
        width: 0.693333rem;
        height: 0.693333rem;
        img {
          width: 0.693333rem;
          height: 0.693333rem;
        }
      }
      .text {
        flex: 1;
        padding: 0 0.4rem 0 0;
        color: #111111;
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right {
          color: #999999;
          img {
            width: 0.746667rem;
            border-radius: 0.373333rem;
            height:0.746667rem;
          }
        }
      }
      .icon {
        width: 0.426667rem;
        height: 0.426667rem;
        img {
          width: 0.426667rem;
          height: 0.426667rem;
        }
      }
    }
  }
  .cancel {
    padding: 0.666667rem 0.4rem;
    button {
      height: 1.333333rem;
      width: 100%;
      line-height: 1.333333rem;
      border-radius:  0.213333rem;
      background: #f6f7fb;
      font-size: 0.4rem;
      color: #666666;
    }
  }
}
