.list {
  margin-top: -20px;
  padding: 20px 15px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  background-color: #ffffff;
  z-index: 2;

  .item {
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    //   padding: 0 25px;
    .img {
      width: 26px;
      height: 26px;
      img {
        width: 26px;
        height: 26px;
      }
    }
    .text {
      flex: 1;
      padding: 0 15px 0 0;
      color: #111111;
      font-size: 15px;
      display: flex;
    align-items: center;
    justify-content: space-between;
      .right{
          color: #999999;
          img{
              width: 28px;
              border-radius: 14px;
              height: 28px;
          }
      }
    }
    .icon {
      width: 16px;
      height: 16px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
.cancel {
  padding: 25px 15px;
  button {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-radius: 8px;
    background: #f6f7fb;
    font-size:15px;
    color: #666666;
  }
}
