.register {
  .pageTitle {
    font-size: 30px;
    color: #111111;
    padding: 15px;
    font-weight: bold;
  }
  .form {
    padding: 0 15px;
    .formItem {
      padding-top: 20px;
      border-bottom: 2px solid #eeeeee;
      p {
        font-size: 15px;
        color: #111111;
        font-weight: bold;
      }
      .input {
        position: relative;
        input {
          width: 100%;
          padding-right: 56px;
          box-sizing: border-box;
          height: 56px;
          line-height: 56px;
          font-size: 20px;
        }
        .icon {
          position: absolute;
          height: 100%;
          right: 0;
          width: 22px;
          padding: 0 15px;
          z-index: 2;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          img {
            width: 22px;
            height: 15px;
          }
        }
        .code {
          position: absolute;
          height: 100%;
          right: 0;
          padding: 0 15px;
          z-index: 2;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          button {
            height: 100%;
            background: transparent;
            font-size: 18px;
            color: #999999;
          }
        }
      }
    }
  }

  .submit {
    margin-top: 30px;
    //   position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 15px 25px 0;
    box-sizing: border-box;
    button {
      height: 50px;
      width: 100%;
      line-height: 50px;
      border-radius: 8px;
      background: #027aff;
      font-size: 20px;
      color: #ffffff;
    }
    :disabled {
      opacity: 0.5;
    }
  }
  .change {
    margin-top: 25px;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 0 25px 25px;
    box-sizing: border-box;
    button {
      height: 50px;
      width: 100%;
      line-height: 50px;
      border-radius: 8px;
      color: #027aff;
      border:1px solid  #027aff;
      font-size: 20px;
      background: #ffffff;
    }
    
  }
}
