.mine {
  .info {
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.933333rem 0.4rem 1.466667rem;
    .img {
      img {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 30.08rem;
        border: 0.08rem solid rgba($color: #ffffff, $alpha: 0.5);
      }
    }
    .name {
      flex: 1;
      text-align: left;
      color: #ffffff;
      margin-left: 0.4rem;
      .nickName {
        font-size: 0.666667rem;
        margin-bottom: 0.266667rem;
      }
      .phone {
        font-size: 0.48rem;
        opacity: 0.5;
      }
    }
  }
  .list {
      margin-top: - 0.533333rem;
      padding:  0.533333rem 0.666667rem 0;
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
      position: relative;
      background-color: #ffffff;
      z-index: 2;

    .item {
      height: 1.6rem;
      line-height: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
    //   padding: 0 0.666667rem;
      .img {
        width: 0.693333rem;
        height: 0.693333rem;
        img {
          width: 0.693333rem;
          height: 0.693333rem;
        }
      }
      .text{
          flex: 1;
          padding: 0 0.4rem;
          color: #111111;
          font-size: 0.4rem;
      }
      .icon {
        width: 0.426667rem;
        height: 0.426667rem;
        img {
          width: 0.426667rem;
          height: 0.426667rem;
        }
      }
    }
  }
}
