.deposit {
  .count {
    border-bottom:  0.133333rem solid #f6f7fb;
    padding: 0.666667rem;
    color: #111111;
    p {
      font-size: 0.4rem;
      margin-bottom:  0.213333rem;
    }
    .num {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
  .list {
    .item {
      padding: 0 0.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 1.333333rem;
      line-height: 1.333333rem;
      border-bottom: 1px solid #eeeeee;

      .label {
        color: #333333;
        font-size: 0.4rem;
      }
      .text {
        font-weight: bold;
        color: #111111;
        font-size: 0.4rem;
      }
    }
  }
  .tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0.533333rem 0 0;
    padding: 0 0.4rem;
    .left {
      color: #999999;
      font-size:  0.32rem;
    }
    .right {
      font-weight: bold;
      color: #666666;
      font-size:  0.32rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
          width:  0.32rem;
          height:  0.32rem;
          margin-left:  0.133333rem;
      }
    }
  }
  .submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 0.4rem 0.666667rem;
    box-sizing: border-box;
    button {
      height: 1.333333rem;
      width: 100%;
      line-height: 1.333333rem;
      border-radius:  0.213333rem;
      background: #027aff;
      font-size:  0.533333rem;
      color: #ffffff;
    }
    :disabled {
      opacity: 0.5;
    }
  }
}
