.head {
  position: fixed;
  height: 1.28rem;
  line-height: 1.28rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.4rem;
  z-index: 9;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  .back {
    width:  36Px;
    display: flex;
    align-items: center;
    
  }
  .title {
    text-align: center;
    font-size: 0.48rem;
    color: #000000;
    font-weight: bold;
  }
  .right {
    width: 36Px;
    height: 100%;
  }
}
.headContent {
  height: 1.28rem;
  width: 100%;
}
