.head {
  position: fixed;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
  z-index: 9;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  .back {
    width: 20px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .title {
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
  }
  .right {
    width: 20px;
    height: 100%;
  }
}
.headContent {
  height: 48px;
  width: 100%;
}
