.editLoginPassword {
  .form {
    padding: 0 0.4rem;
    .formItem {
      padding-top:  0.533333rem;
      border-bottom:  0.053333rem solid #eeeeee;
      p {
        font-size: 0.4rem;
        color: #111111;
        font-weight: bold;
      }
      .input {
        position: relative;
        input {
          width: 100%;
          padding-right:  1.493333rem;
          box-sizing: border-box;
          height:  1.493333rem;
          line-height:  1.493333rem;
          font-size:  0.533333rem;
        }
        .icon {
          position: absolute;
          height: 100%;
          right: 0;
          width: 2 0.053333rem;
          padding:0 0.4rem;
          z-index: 2;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          img {
            width: 2 0.053333rem;
            height: 0.4rem;
          }
        }
      }
    }
  }

  .submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 0.4rem 0.666667rem;
    box-sizing: border-box;
    button {
      height: 1.333333rem;
      width: 100%;
      line-height: 1.333333rem;
      border-radius:  0.213333rem;
      background: #027aff;
      font-size:  0.533333rem;
      color: #ffffff;
    }
    :disabled {
      opacity: 0.5;
    }
  }
}
