.editMobile {
  .form {
    padding: 0 0.4rem;
    .formItem {
      padding-top:  0.533333rem;
      border-bottom:  0.053333rem solid #eeeeee;
      p {
        font-size: 0.4rem;
        color: #111111;
        font-weight: bold;
      }
      .input {
        input {
          height: 1.493333rem;
          line-height:  1.493333rem;
          font-size:  0.533333rem;
        }
      }
    }
  }

  .submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 0.4rem 0.666667rem;
    box-sizing: border-box;
    button {
      height: 1.333333rem;
      width: 100%;
      line-height: 1.333333rem;
      border-radius:  0.213333rem;
      background: #027aff;
      font-size:  0.533333rem;
      color: #ffffff;
    }
    :disabled {
      opacity: 0.5;
    }
  }
}
