.editName {
  .form {
    padding: 0 15px;
    .formItem {
      padding-top: 20px;
      border-bottom: 2px solid #eeeeee;
      p {
        font-size: 15px;
        color: #111111;
        font-weight: bold;
      }
      .input {
        input {
          height: 56px;
          line-height: 56px;
          font-size: 20px;
        }
      }
    }
  }

  .submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 15px 25px;
    box-sizing: border-box;
    button {
      height: 50px;
      width: 100%;
      line-height: 50px;
      border-radius: 8px;
      background: #027aff;
      font-size: 20px;
      color: #ffffff;
    }
    :disabled {
      opacity: 0.5;
    }
  }
}
