.record {
  .tab {
    .bg {
      height: 1.333333rem;
      width: 100%;
    }
    .list {
      padding: 0 0.8rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      position: fixed;
      top: 1.28rem;
      left: 0;
      width: 100%;
      background: #ffffff;
      box-sizing: border-box;
      .item {
        height: 1.333333rem;
        line-height: 1.333333rem;
        position: relative;
        color: #999999;
        font-weight: bold;
        font-size: 0.453333rem;
      }
      .item:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        content: "";
        height: 2px;
        border-radius: 1px;
        background: transparent;
      }
      .active {
        color: #027aff;
      }
      .active:after {
        background: #027aff;
      }
    }
    .change {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .part {
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
        color: #999999;
        font-size: 0.293333rem;
        .class {
          padding: 0.4rem 0;
          display: flex;
          align-items: center;
          img {
            width: 0.266667rem;
            height: 13px;
            margin-left: 3px;
          }
        }
      }
      .left {
        i {
          font-style: normal;
          display: inline-block;
          margin: 0 0.053333rem;
        }
      }
      .right {
        .precent {
          margin-left: 0.533333rem;
          width: 2.053333rem;
          justify-content: flex-end;
          float: right;
          img {
            display: inline-block;
          }
        }
      }
    }
  }
  .tabBox {
    .list {
      .item {
        padding: 0.4rem;
      
        border-bottom: 1px solid #eeeeee;
        .flex{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .top{
            color: #111111;
            font-size: 0.4rem;
            margin-bottom: 0.106667rem;
            font-weight: bold;
            .rise {
                color: #0aaa96;
              }
              .fall{
                color: #D14C64;
              }
        }
        .info{
            color: #999999;
            font-size: 0.32rem;
            margin-bottom: 0.16rem;
            .btn{
                color: #027aff;
            }
        }
        .result{
            font-size: 0.32rem;
            color: #cccccc;
        }
      }
    }
  }
}
