.bar{
    background: #ffffff;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:50px ;
    .item{
        flex: 1;
        .img{
            height: 26px;
            text-align: center;
            img{
                width:26px ;
                height: 26px;
                display: block;
                margin: 0 auto;
            }
           
        }
        p{
            margin-top: 3px;
            font-size: 13px;
            text-align: center;
        }
        .active{
            color: #027AFF;
        }
    }
}
.tanContent{
    position: fixed;
    top: 0;
    bottom: 50px;
    width:100%;
    background: #ffffff;
}